:root {
  --form-yellow: #ffd520;
  --writable-text-color: #101010;
  --title-color: #3e3e3e;
  --label-color: #868589;
  --no-writable-text-color: #434142;
  --cards-bacground-color: #f7f7f7;
  --link-text-color: #005fc5;
  --label-color-darker: #686767;
  --parragraph-color: #8e8d8d;
  --shadow-color: #0000000a;
  --disable-input: #b3b3b3;
  --error-color: #b2dbf7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.navbar {
  width: 100%;
  height: 82px;
}
.navbar .items {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 8px 8px 16px var(--shadow-color);
  background-color: white;
}
.navbar .items p,
.navbar .items h1 {
  color: var(--no-writable-text-color);
}
.navbar .items h1 {
  font-size: 16px;
}
.navbar .items .exit {
  width: 5%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .items .exit button {
  width: 95%;
  height: 95%;
  font-size: 16px;
  background: none;
  border: none;
  color: var(--label-color);
}
.navbar .items .exit button i {
  margin-left: 8.4px;
}
.container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  width: 100%;
  height: 160px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cards-bacground-color);
}
.container .header .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 360px;
}

.container .header .content .photo {
  grid-row: 1 / 3;
  align-content: center;
  justify-items: center;
}
.container .header .content .photo p,
.container .header .content-2 .photo p {
  width: 65px;
  height: 65px;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  border: var(--form-yellow) 3px solid;
  margin: 0;
  font-size: 12px;
}
.container .header .content .welcome-title {
  text-align: center;
  color: var(--title-color);
  font-size: 24px;
}
.container .header .content .user-name {
  text-align: center;
  color: var(--no-writable-text-color);
  font-size: 36px;
  font-weight: bold;
}
.container .form-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 64px 413px;
}
.container .form-data .instructions {
  font-size: 16px;
  font-weight: 600;
}
.container .form-data .user-data {
  width: 100%;
  height: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.input-div {
  display: grid;
  height: 60%;
  grid-template-rows: 50% 50%;
}
.input-div .label-input .bi {
  margin-right: 5px;
  color: var(--form-yellow);
}
.input-div .label-input {
  font-size: 12px;
  color: var(--label-color);
}
.input-div .input {
  border: none;
  border-bottom: var(--disable-input) 1.5px solid;
  color: var(--label-color);
  transition: 0.5s;
  font-size: 16px;
}
.input-div .input:focus {
  border-bottom: var(--form-yellow) 1.5px solid;
}

.continue-btn.login {
  grid-row: 4;
  grid-column: 1 / span 2;
}

.continue-btn {
  width: 196px;
  height: 48px;
  background-color: var(--form-yellow);
  color: var(--no-writable-text-color);
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  justify-self: center;
}
.error {
  animation: focus-error 3s;
}
@keyframes focus-error {
  from {
    background-color: var(--error-color);
  }
  to {
    background-color: transparent;
  }
}

.container .header .content-2 {
  display: grid;
  padding: 0 80px;
  grid-template-columns: 15% 85%;
  justify-items: center;
  align-items: center;
}
.container .header .content-2 .text {
  width: 50%;
  justify-self: start;
}
.container .header .content-2 .text .title {
  font-size: 16px;
  color: var(--title-color);
}
.container .header .content-2 .text .name {
  font-weight: bold;
  color: var(--no-writable-text-color);
  font-size: 22px;
}
.container .header .content-2 .text .description {
  font-size: 13px;
  color: var(--parragraph-color);
}
.form {
  padding: 35px 246px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5% 20% 20% 20% 20% 15%;
  gap: 25px;
}
.generic-title {
  color: var(--no-writable-text-color);
  font-size: 24px;
  font-weight: bold;
  display: flex !important;
  justify-items: center;
  align-items: center;
}
.generic-title .bi {
  width: 50px;
  height: 100%;
}
.generic-title .appleicon {
  content: url("../Img/apple.svg");
}
.form ._row {
  grid-column: 1 / span 2;
  display: grid;
}
.continue-btn.content-page {
  grid-column: 2;
}
.form .first {
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0;
  gap: 20px;
}
.form .first .input-div .input {
  width: 50%;
}
.form .second .options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
